<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <property name="LOG_HOME" value="c:/logs" />

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder charset="UTF-8">
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} -%msg%n</pattern>
    </encoder>
  </appender>

  <!-- 按照每天生成日志文件 -->
  <appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>DENY</onMatch>
      <onMismatch>ACCEPT</onMismatch>
    </filter>
    <encoder>
      <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} -%msg%n</Pattern>
      <charset>UTF-8</charset>
      <immediateFlush>true</immediateFlush>
    </encoder>
    <File>${LOG_HOME}/data-integration.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <FileNamePattern>logs/data-integration.log.%d{yyyy-MM-dd}</FileNamePattern>
      <!-- keep 3 days' worth of history -->
      <maxHistory>3</maxHistory>
    </rollingPolicy>
  </appender>

  <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg %n</pattern>
    </encoder>
    <File>logs/data-integration.err.log</File>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <FileNamePattern>logs/data-integration.err.log.%d{yyyy-MM-dd}</FileNamePattern>
      <!-- keep 7 days' worth of history -->
      <maxHistory>7</maxHistory>
    </rollingPolicy>
  </appender>

  <logger name="org.apache.kafka" level="WARN"/>
  <logger name="org.apache.kafka.common.metrics" level="WARN"/>
  <logger name="log4j.logger.org.apache.kafka.streams" level="WARN"/>
  <logger name="com.chedaojunan.report" level="INFO"/>

  <root level="INFO">
    <appender-ref ref="FILE_INFO" />
    <appender-ref ref="FILE_ERROR" />
  </root>
</configuration>